{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form-contact">
    {{form.hidden_tag()}}
    <p>
        {{form.email.label()}}
        {%if form.email.errors%}
        {{form.email(class="invalid")}}
        <span class="invalid-feedback">
            {%for e in form.email.errors%}
            {{e}}
            {%endfor%}
        </span>
        {%else%}
            {{form.email()}}
        {%endif%}
    </p>
    <p>
        {{form.psw.label()}}
        {%if form.psw.errors%}
        {{form.psw(class="invalid")}}
        <span class="invalid-feedback">
            {%for e in form.psw.errors%}
            {{e}}
            {%endfor%}
        </span>
        {%else%}
            {{form.psw()}}
        {%endif%}
    </p>
    <p>{{form.remember.label()}}{{form.remember()}}</p>
    <p>{{form.submit()}}</p>
    <hr align=left width="300px">
<p><a href="{{url_for('register')}}">Регистрация</a>
</form>
{% endblock %}